@using Core.Dtos
@using Data.Entities
@model List<DoctorDto>;
<h1>Vacation</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">FirstName</th>
            <th scope="col">Name</th>
            <th scope="col">LastName</th>
            <th scope="col">Birthday</th>
            <th scope="col">Work_experience</th>
            <th scope="col">Categori</th>
            <th scope="col">Delite</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model)
        {
            <tr>
                <th scope="row">@i.Id</th>
                <td>
                    <img height="50" src="@i.ImageUrl" alt="@i.Name" />

                </td>
                <td>
                    @i.FirstName;

                </td>
                <td>
                    @i.Name;
                </td>
                <td>
                    @i.LastName;
                </td>
                <td>@i.Birthday</td>
                <td>@i.Work_experience</td>
                <td>@i.CategoryName</td>
                <td>
                    <a asp-controller="Doctors" asp-action="RestoreItem" asp-route-id="@i.Id" class="btn btn-outline-warning">
                        <i class="bi bi-arrow-counterclockwise"></i>
                    </a>
                    <a asp-controller="Doctors" asp-action="Delete" asp-route-id="@i.Id" class="btn btn-outline-danger">
                        <i class="bi bi-person-dash"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<p>Count: @Model.Count</p>
<div>
    <a asp-action="Index" class="btn btn-secondary">
        <i class="bi bi-arrow-left"></i>
        <span>Go Back</span>
    </a>
</div>

